<!-- body -->

<!-- hero image -->
<div class="hero-image">
  <div class="hero-text">
    <h1>My Bookshelf</h1>
    <a href="/search" type="button" class="btn btn-light">Add New Book</a>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-light" data-toggle="modal" id="myBtn" data-target="#myModal">
      Share Your Bookshelf
    </button>
    <!-- Modal -->
    <div id="contact"></div>
      <div id="contact-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Share your favorite books with friends and family by sending them your personalized bookshelf!</h3>
            </div>
            <form id="contactForm" name="contact" role="form" action="mailto:youraddr@domain.tld" method="GET">
              <div class="modal-body">				
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control">
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control">
                </div>

                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="message" class="form-control"></textarea>
                </div>					
              </div>

              <div class="modal-footer">					
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="send" class="btn btn-success" id="send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pre> </pre>

<!-- library -->

<div class="row row-cols-1 row-cols-md-4 g-2">
  {{#each savedBookShelf }}
  <div class="col bookcard">
    <div class="card">
      <div class="card-body">
        <!-- bar title -->
  
        <h5 class="card-title">{{this.title}}</h5><br>
        <a href="{{this.infoLink}}">Buy this book on Google Books</a>

        <!-- <div id="{{this.ISBN}}" style="width: 600px; height: 500px"></div> -->
        <img src="{{this.thumbnail}}" class="card-img-top" alt="...">
              <a href="{{this.webReaderLink}}">Read a Sample from Book (warning: not all books have viewable samples before buying)
              </a><br>

        <!-- book description -->
        <p class="card-text">{{this.description}}</p>
      </div>
        <p class="card-text">{{this.review}}</p>
      <div class="form-group">
        <label for="comment"> Comments :</label>
            <input id="searchBooks" type="text" placeholder="comments" data-name="{{this.ISBN}}">
      <!--  <input type="text" id="review"></input> -->
      <button type="submit" data-id={{this.id}} class="btn btn-secondary">Save</button></input>
        </div>
      </form>
      <form class='form'>
      </form>
      <button type="button" data-id={{this.id}} class="btn btn-danger">"Delete Book from Shelf"</button>
    </div>
  </div>
  {{/each}}

</div>

<!-- <script>
  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
  })
</script> -->

</script>

<script type="text/javascript">

console.log('test')

$(".btn-secondary").on("click", (e) => {
  e.preventDefault();

  var strISBN = "ISBN" + `${e.target.dataset.name}`
GBS_insertPreviewButtonPopup(strISBN);

  var thisReview = $('#review').val()
  console.log(`/books/${e.target.dataset.id}`);
  $.ajax({ 
    method: "PUT",
    url: `/books/${e.target.dataset.id}`
    }).then(data => {
    console.log("AFTER delete:", data);
  })
});



$(".btn-danger").on("click", (e) => {
  e.preventDefault();
  console.log(`/books/${e.target.dataset.id}`);
  $.ajax({ 
    method: "DELETE",
    url: `/books/${e.target.dataset.id}`
    }).then(data => {
    console.log("AFTER delete:", data);
  })
});
</script>