<!-- body -->

<!-- hero image -->
<div class="hero-image">
  <div class="hero-text">

    <h1>My Bookshelf</h1>
    <a href="/search" type="button" class="btn btn-light">Add New Book</a>
    <!-- Button trigger modal -->
  </div>
</div>


<!-- library -->

<div class="row row-cols-1 row-cols-md-4 g-2">
  {{#each savedBookShelf }}
  <div class="col bookcard">
    <div class="card">
      <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.title}}">
      <div class="card-body">
        <!-- bar title -->

        <div class="card-title" style="font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;">{{this.title}}</div>
        <h6>by: {{this.author}}</h6>
        <a href="{{this.infoLink}}">Buy this book on Google Books</a><br>

        <a href="{{this.webReaderLink}}">Read a Sample from Book (warning: not all books have viewable samples before
          buying)
        </a><br>
        <button data-id="{{this.isbn}}" class="btn btn-primary" type="button">Embedded Viewer</button>

        <!-- book description, pages, review -->
        <p class="card-text">{{this.description}}</p>
        <p class="card-text"># of Pages: {{this.pages}}</p>

        <h5>Personal notes:</h5>
        <p class="card-text">{{this.review}}</p>
      </div>

      <!--- Review / comments section -->
      <form id="reviewForm" action="/books/{{this.id}}">
        <textarea rows="3" cols="24" name="review" placeholder="Comments / review"></textarea><br>
        <!-- <button type="submit" data-id={{this.id}} class="btn btn-secondary">Submit</button> -->
        <button data-id={{this.id}} class="btn btn-secondary" type="submit">Submit</button>
      </form>

      <form class='form'>
        <button type="button" data-id={{this.id}} class="btn btn-danger">Delete Book from Shelf</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>


<script type="text/javascript">


$(".btn-primary").on("click", (e) => {
  e.preventDefault();


    $.ajax({
      method: "POST",
      url: `/books/${e.target.dataset.id}`/viewer
    }).then(data => {

       google.books.load();

      function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load(`${e.target.dataset.id}`);
      }

      google.books.setOnLoadCallback(initialize);
      window.location.reload();
    })

   


 GBS_insertPreviewButtonPopup(`${e.target.dataset.id}`)

})


  $(".btn-danger").on("click", (e) => {
    e.preventDefault();
    console.log(`/books/${e.target.dataset.id}`);
    $.ajax({
      method: "DELETE",
      url: `/books/${e.target.dataset.id}`
    }).then(data => {
      window.location.reload();
    })
  });
</script>