
  <!-- body -->

  <!-- hero image -->
  <div class="hero-image">
    <div class="hero-text">
      <h1>My Bookshelf</h1>
      <a href="search" type="button" class="btn btn-light">Add New Book</a>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">
        Share Your Bookshelf
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text">Recipient:</textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <pre> </pre>

  <!-- library -->

 


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col bookcard">
          <div class="card">
            <img src="styleshbook-covers-big-2019101610.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- bar title -->
              <h5 class="card-title">Book title</h5>
              <!-- book description -->
              <p class="card-text">Description</p>
            </div>
          </div>
        </div>
        <div class="col bookcard">
          <div class="card">
            <img src="book-covers-big-2019101610.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book title</h5>
                <p class="card-text">Description</p>
            </div>
          </div>
        </div>
        <div class="col bookcard">
          <div class="card">
            <img src="book-covers-big-2019101610.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book title</h5>
                <p class="card-text">Description</p>
            </div>
          </div>
        </div>
      </div>

  <pre> </pre>


     {{#each savedBookShelf }}
    <h2>{{this.title}}</h2>
    <h3>{{this.description}}</h3>
    <h3>{{this.pages}}</h3>
    <h3>{{this.datePublished }} </h3>
    <img src="{{this.thumbnail}}">
    <li class="list-group-item"></li>
    <form id='searchForm' action="/Bookshelves/{{this.id}}" method="DELETE" class='form'>
    <button type="submit" data-id="{{this.id}}">Delete Book from your Shelf</button></form>
    <h4>id: {{this.id}}</h4> 
    {{/each}}

  <!-- <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('.modal-body input').val(recipient)
    })
  </script> -->

</body>
</html>