<!-- body -->

<!-- hero image -->
<div class="hero-image">
  <div class="hero-text">

    <h1>My Bookshelf</h1>
    <a href="/search" type="button" class="btn btn-light">Add New Book</a>
    <!-- Button trigger modal -->
  </div>
</div>


<!-- library -->

<div class="row row-cols-1 row-cols-md-4 g-2">
  {{#each savedBookShelf }}
  <div class="col bookcard">
    <div class="card">
      <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.title}}">
      <div class="card-body">
        <!-- bar title -->

        <div class="card-title" style="font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;">{{this.title}}
        </div>
        <h6>by: {{this.author}}</h6>
        <a href="{{this.infoLink}}" style="background-color: grey; color:honeydew">Buy this book on Google Books</a><br>

        <!-- book description, pages, review -->
        <p class="card-text">{{this.description}}</p>
        <p class="card-text"># of Pages: {{this.pages}}</p>

        <!-- This is where we embed the sample reader button -->
        <div class='isbn' data-id="{{this.isbn}}"> </div>

        <!-- Need this script for the google books preview button -->
        <script type="text/javascript">

          // logic to display google book previews with the search results
          // get size of array
          var previewArray = Array.from($('.isbn'))

          // create variables to keep track of where we are in the array
          var currentBook = previewArray.length
          var counter = 1

          // loop through the array and only add a button for the last entry in the array
          $('.isbn').each(function () {

            // if we arent at the last entry then keep looping
            if (currentBook > counter) {
              counter++
            }
            else {
              // insert the google preview button using the ISBN number extracted from the data-id of the html element

              console.log($(this).attr('data-id'))
              GBS_insertPreviewButtonPopup($(this).attr('data-id'))
            }
          });

        </script>

        <h5>Personal comments:</h5>
        <p class="card-text">{{this.review}}</p>
      </div>

      <!--- Review / comments section -->
      <form id="reviewForm" action="/books/{{this.id}}">
        <textarea name="review" placeholder="Comments / review"></textarea><br>
        <button data-id={{this.id}} class="btn btn-secondary" type="submit">Submit</button>
      </form>

      <form class='form'>
        <button type="button" data-id={{this.id}} class="btn btn-danger">Delete Book from Shelf</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>


<script type="text/javascript">

  // delete button that routes to delete on the backend
  $(".btn-danger").on("click", (e) => {
    e.preventDefault();
    console.log(`/books/${e.target.dataset.id}`);
    $.ajax({
      method: "DELETE",
      url: `/books/${e.target.dataset.id}`
    }).then(data => {

      window.location.reload();
    })
  });
</script>