
  <!-- body -->

  <!-- hero image -->
  <div class="hero-image">
    <div class="hero-text">
      <h1>My Bookshelf</h1>
      <a href="/search" type="button" class="btn btn-light">Add New Book</a>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">
        Share Your Bookshelf
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text">Recipient:</textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <pre> </pre>

  <!-- library -->


    <div class="row row-cols-1 row-cols-md-4 g-2">
      {{#each savedBookShelf }}
      <div class="col bookcard">
        <div class="card">
          <div class="card-body">
            <!-- bar title -->
            <a href="{{this.webReaderLink}}">Read a Sample from Book</a><br>
            <h5 class="card-title">{{this.title}}</h5><br>
            <a href="{{this.infoLink}}">Buy this book on Google Books</a>
    
            <!-- <div id="{{this.ISBN}}" style="width: 600px; height: 500px"></div> -->
            <img src="{{this.thumbnail}}" class="card-img-top" alt="...">
    
            <!-- book description -->
            <p class="card-text">{{this.description}}</p>
          </div>
            <p class="card-text">{{this.review}}</p>
          <div class="form-group">
            <label for="comment">Review / Comments :</label>
            <textarea class="form-control" rows="5" id="comment" name="{{this.id}}"></textarea>
          </div>
          <button type="submit" data-id={{this.id}} class="btn btn-secondary">Save</button>
          </form>
          <form class='form'>
          </form>
          <button type="button" data-id={{this.id}} class="btn btn-danger">"Delete Book from Shelf"</button>
        </div>
      </div>
      {{/each}}
    
    </div>

  <!-- <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('.modal-body input').val(recipient)
    })
  </script> -->

  
  GBS_insertPreviewButtonPopup('ISBN:9781982137977');


</script>
<script type="text/javascript">
//GBS_insertEmbeddedViewer('ISBN:0738531367',600,500);


GBS_insertPreviewButtonPopup('ISBN:0738531367');

  
  console.log('test')

 $(".btn-secondary").on("click", (e) => {
    e.preventDefault();
    console.log(`/books/${e.target.dataset.id}`);
    $.ajax({ 
      method: "PUT",
      url: `/books/${e.target.dataset.id}`
      }).then(data => {
      console.log("AFTER delete:", data);
    })
  });
 
  
  $(".btn-danger").on("click", (e) => {
    e.preventDefault();
    console.log(`/books/${e.target.dataset.id}`);
    $.ajax({ 
      method: "DELETE",
      url: `/books/${e.target.dataset.id}`
      }).then(data => {
      console.log("AFTER delete:", data);
    })
  });
</script>