
  <!-- body -->

  <!-- hero image -->
  <div class="hero-image">
    <div class="hero-text">
    
      <h1>My Bookshelf</h1>
      <a href="/search" type="button" class="btn btn-light">Add New Book</a>
      <!-- Button trigger modal -->
      </div>
      </div>


  <!-- library -->

    <div class="row row-cols-1 row-cols-md-4 g-2">
      {{#each savedBookShelf }}
      <div class="col bookcard">
        <div class="card">
          <div class="card-body">
            <!-- bar title -->
       
            <h5 class="card-title">{{this.title}}</h5><br>
            <a href="{{this.infoLink}}">Buy this book on Google Books</a>
    
            <img src="{{this.thumbnail}}" class="card-img-top" alt="...">
                 <a href="{{this.webReaderLink}}">Read a Sample from Book (warning: not all books have viewable samples before buying)
                 </a><br>
    
            <!-- book description, pages, review -->
            <p class="card-text">{{this.description}}</p><br>
            <p class="card-text"># of Pages: {{this.pages}}</p><br>
          </div>
            <p class="card-text">{{this.review}}</p>

          <form class='form'>
          <button type="button" data-id={{this.id}} class="btn btn-danger">"Delete Book from Shelf"</button>
           </form>
        </div>
      </div>
      {{/each}}
       </div>


<script type="text/javascript">

// for adding a review
 $(".btn-secondary").on("click", (e) => {
    e.preventDefault();

    var strISBN = "ISBN:" + `${e.target.dataset.name}`
 
  //  var thisReview = $('#review').val()
    $.ajax({ 
      method: "GET",
      url: `/books/${e.target.dataset.id}`/thisReview
      }).then(data => {
        window.location.reload()
      console.log("AFTER REVIEW UPDATE:", data);
    })
  });
 
 // for deleting books 
  $(".btn-danger").on("click", (e) => {
    e.preventDefault();
    console.log(`/books/${e.target.dataset.id}`);
    $.ajax({ 
      method: "DELETE",
      url: `/books/${e.target.dataset.id}`
      }).then(data => {
      window.location.reload();
    })
  });
</script>