<!-- show the book that was chosen to add -->
<div class="hero-image">
  <h3 style="color: blanchedalmond;">You added: </h3><br>
  <h2 style="color: floralwhite;">{{this.title}}</h2><br>
  <h4 style="color:blanchedalmond;">{{this.author}}</h4>
  <img src="{{this.thumbnail}}">
</div>


<!-- search bar -->
<h2 style="color:darkslategrey; text-align:center">Search for Books</h2>
<!-- Google books form with filters and sort functions -->
<form id='searchForm' type="search" action="/search" method="POST" class='form' style='text-align:center'>
  <!-- General string to use for search, could be almost anything -->
  <input id="searchBooks" type="text" placeholder="Keyword" name="searchTerm"></input>
  <!--How to sort the list, relevance or newest -->
  <select name='Sort'>
    <option value='relevance' selected>Relevance</option>
    <option value='newest'>Newest</option>
  </select>
  <button type="submit">Submit</button>
</form>


<!--Array of books found in the search -->
<div class="container">
  <div class="card">
    {{#each bookArray }}
    <div class="card bg-light">
      <div class="card-body text-center">
        
        <!-- This is where we embed the sample reader button -->
        <div class='isbn' data-id="{{this.isbn}}">  </div>
          <script type="text/javascript">

            // logic to display google book previews with the search results
            // get size of array
            var previewArray = Array.from($('.isbn'))

            // create variables to keep track of where we are in the array
            var currentBook = previewArray.length
            var counter = 1

            // loop through the array and only add a button for the last entry in the array
            $('.isbn').each(function () {

              // if we arent at the last entry then keep looping
              if (currentBook > counter) {
                counter++
              }
              else {
                // insert the google preview button using the ISBN number extracted from the data-id of the html element
                GBS_insertPreviewButtonPopup($(this).attr('data-id'))
              }
            });
          </script>
      
            <br>
        <!-- The rest of the info card -->
        <a href="{{this.infoLink}}" style="background-color: grey; color:honeydew">Buy this book on Google Books</a><br>
        <form id='addBook' action="/search/{{this.id}}" method="POST" class='form'>
          <button type="submit" data-id="{{this.id}}">Add Book to your Shelf</button>
        </form>
        <h2 class="card-text">{{this.title}}</h2>
        <div class="card-title" style="font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;">{{this.author}}
        </div>
        <img src="{{this.thumbnail}}">
        <p>{{this.description }}</p>
        <p>Pages: {{this.pages}}</p>

        <h5>Date Published: {{this.datePublished }} </h5>

      </div>
    </div>
    {{/each }}
  </div>
</div>