 <div class="hero-image">
  {{#with chosenBooks}}
    <h2 style="color: floralwhite;">{{this.title}}</h2>
    <img src="{{this.thumbnail}}">
    {{this.author}}
    {{this.pages}}
    {{this.datePublished}}
  {{/with}}
      </div>


    <!-- search bar -->

       <h2 style="color:darkslategrey; text-align:center">Search for Books</h2>
      <form id='searchForm' action="/search" method="POST" class='form' style='text-align:center'>
    <input id="searchBooks" type="text" placeholder="Title or Author" name="searchTerm"></input>
      <button type="submit"><i class="fa fa-search"></i></button>
      </form>


   <!--<ul class="list-group list-group-flush"> -->
    <div class="container">  
    <div class="card">
    {{#each bookArray }}
     <div class="card bg-light">
      <div class="card-body text-center">
      <h2 class="card-text">{{this.title}}</h2>
    <img src="{{this.thumbnail}}">
   <p>{{this.description }}</p>
    <p>Pages: {{this.pages}}</p>
      </div>
    </div>
    <h3>{{this.datePublished }} </h3>
    <form id='searchForm' action="/search/{{this.id}}" method="POST" class='form'>
    <button type="submit" data-id="{{this.id}}">Add Book to your Shelf</button></form>
    {{/each }}
    </div>
    </div>
